name: Terraform CI/CD

on:
  push:
    branches:
      - main

jobs:
  Terraform:
    name: Terraform plan and apply
    runs-on: ubuntu-latest

    env:
      TF_VERSION: 1.6.27

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
    
      - name: Terraform Setup
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ env.TF_VERSION }}
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      
      - name: Terraform init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Fmt
        run: terraform fmt -check
      
      - name: Terraform Plan
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan
